body {
    background: skyblue;
    padding: 0;
    margin: 0;
}

body>div {
    background: lightgreen;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin:10px;
}

body>div>div {
    background: rgb(255, 255, 127);
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding:2px;
}

canvas {
    margin:10px;
    border: 2px solid purple;
}

footer {
    position:fixed;
    width:100%;
    bottom:0;
    background:#f080808f;
    text-align: center;

}